/* styles.css */
header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }

  h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .a-code-container {
    /* Kodunuzun dış görünüşünü burada özelleştirin */
    background-color:#f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
  }