/* styles.css */
header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }

  h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid black;
    margin: 0 auto;
    width: 50%;
  }
  
  th, td {
    border: 1px solid black;
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  body {
    text-indent: initial;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    white-space: normal;
    font-variant: normal;
}